@model RestaurantApplication.Models.RestaurantReservationEvent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RestaurantReservationEvent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookersName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookersName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingEndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestaurantID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestaurantID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RestaurantReservationEventID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
