@model IEnumerable<RestaurantApplication.Models.Restaurant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantPhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RestaurantName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestaurantDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestaurantPhoneNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestaurantAddress)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RestaurantID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RestaurantID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RestaurantID })
        </td>
    </tr>
}

</table>
